/*-----------------------------------------------------------------------------------

 Theme Name: Haris Isani V2
 Theme URI: http://harisisani.space/
 Description: Hello, I am Haris Isani, and I am professionally a Software Engineer.
 Author: Haris Isani
 Author URI: http://harisisani.space/
 Version: 2.0

-----------------------------------------------------------------------------------*/

$main-color: teal;
$alt-color:#1f6ea9;
$dark-color:#1c1c1c;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;
$main-font:'Poppins', sans-serif;
$alt-font:'Raleway', sans-serif;

[data-overlay-dark]:before{
	background: #6167d8;
}

/* ----------------------------------------------------------------
		 [ 01 Start Basics ]
-----------------------------------------------------------------*/

* {
 box-sizing: border-box;
 list-style: none;
 margin: 0;
 outline: none;
 padding: 0;
 word-wrap: break-word;

}

body {
 color: #939393;
 font-family: $main-font;
 overflow-x: hidden !important;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
}

h1,h2,h3,h4{
 font-weight: 700;
}

h5,h6{
 font-weight: 600;
}

img {
 width: 100%;
 height: auto;
}

span, a, a:hover {
 color: inherit;
 display: inline-block;
 text-decoration: none;
}

.section-padding{
 padding: 100px 0;
}

.section-head{
 margin-bottom: 20px;

 h6{
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 4px;
	padding-bottom: 10px;
 }

 h4{
	font-weight: 600;
	position: relative;
	color: $main-color;
	font-size: 35px;
	margin-bottom: 30px;
	margin-top: 0;
	line-height: 1.3em;

	&:after{
		width: 250px;
		height: 5px;
		content: "";
		position: absolute !important;
		bottom: -10px;
		left: 0;
		right: 0;
		z-index: 0;
		margin: auto;
		background: -webkit-radial-gradient(50% 50%, ellipse closest-side, $main-color, rgba(255, 42, 112, 0) 60%);
		background: -moz-radial-gradient(50% 50%, ellipse closest-side, $main-color, rgba(255, 42, 112, 0) 60%);
		background: -ms-radial-gradient(50% 50%, ellipse closest-side, $main-color, rgba(255, 42, 112, 0) 60%);
		background: -o-radial-gradient(50% 50%, ellipse closest-side, $main-color, rgba(255, 42, 112, 0) 60%);
}
:after, :before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	};
 }
 p{
		margin: 15px auto 30px auto;
		width: 50%;
 }
}
.under-line-center:after{
		background-color: $main-color !important;
		bottom: 0;
		content: '';
		height: 2px !important;
		left: calc(50% - 30px);
		position: absolute;
		width: 60px !important;
}
.under-line-left:after{
		background-color: $main-color;
		bottom: 0;
		content: '';
		height: 2px;
		left: 0;
		position: absolute;
		width: 60px;
}
.bg-gray{
 background: #F5F2FC;
}
.bg-color{
	background-color: $main-color;
}

.fg-light{
 color: #fff;
}
.fg-gray{
 color: #eee;
}
.fg-color{
 color: $main-color;
}

.o-hidden {
 overflow: hidden;
}

.position-re {
 position: relative;
}

.full-width{
 margin-left: auto;
 margin-right: auto;
 padding-left: 15px;
 padding-right: 15px;
 width: 100% !important;
}

.lg-line-height{
 line-height: 1.5;
}

.half-content{
 position: relative;
 z-index: 3;

 h5,h6{
	color: inherit !important;
 }
}

.bg-img{
 background-repeat: no-repeat;
 background-size: cover;
}

.bg-fixed{
 background-attachment: fixed;
}

.pattern{
 background-repeat: repeat;
 background-size: auto;
}

.sub-title{
 color: $main-color;
 font-size: 15px;
 font-weight: 400;
 margin-bottom: 10px;
}

.bold{
 font-weight: 800;
}

.count{
 font-family: 'Dosis', sans-serif;
}

#particles-js{
 height: 100%;
 left: 0;
 position: absolute;
 top: 0;
 width: 100%;
 z-index: 1;
}

.valign{
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}

.v-middle {
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	left: 0;
	position: absolute;
	top: 55%;
	transform: translate(0%, -50%);
	width: 100%;
}

.owl-theme .owl-dots .owl-dot span{
 display: none;
}

.divider{
		text-align: center;
		position: relative;
		overflow: hidden;
		span{
			display: inline-block;
			position: relative;
			&:before,&:after{
					background-color: #ddd;
					content: '';
					display: block;
					width: 9999px;
					left: 100%;
					margin-left: 30px;
					top: 50%;
					margin-top: -.5px;
					height: 1px;
					position: absolute;
			}
			&:after{
					left: auto;
					right: 100%;
					margin-left: 0;
					margin-right: 30px;
			}

		}
	}


/* ----------------------------------------------------------------
		 [ End Basics ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
		 [ 02 Start Buttons ]
-----------------------------------------------------------------*/

.butn{
 background: #fff;
 border: 1px solid transparent;
 cursor: pointer;
 margin-left: 10px;
 margin-right: 10px;
 outline: none !important;
 overflow: hidden;
 padding: 12px 35px;
 position: relative;
 transition: all .4s;
 z-index: 3;

 span{
	position: relative;
	transition-delay: 0s;
	z-index: 2;
	font-weight: 500;
	line-height: 1em;
	letter-spacing: 1px;
 }

 &:before, &:after{
	background: #fff;
	content: '';
	height: 100%;
	left: 0;
	opacity: .4;
	position: absolute;
	top: 0;
	transition: width 0.4s;
	width: 0;
	z-index: 1;
 }

 &:after{
	background: #fff;
	opacity: 1;
	transition-delay: 0s;
 }

 &:hover{

	&:before, &:after{
	 width: 100%;
	}

	&:after{
	 transition-delay: .2s;
	}

	span{
	 transition-delay: .2s;
	}
 }
}

.butn-bord{
 border-color: $main-color;

 &:before, &:after{
	background: $main-color;
 }

 &:hover{

	span{
	 color: #fff;
	}
 }
}


.butn-bg{
 background: $main-color;
 border-color: $main-color;
 color: #fff;

 &:hover{

	span{
	 color: $main-color;
	}
 }
}
.butn-dark{
 border-color: $dark-color;
 color: #fff;

 &:hover{

	span{
	 color: $dark-color;
	}
 }
}

.butn-light{
 background: #fff;

 &:before, &:after{
	background: $main-color;
 }

 &:hover{

	span{
	 color: #fff;
	}
 }

 span{
	color: $main-color;
 }
}

.butn-bord-light{
 background: $main-color;
 border-color: #fff;

 &:before, &:after{
	background: #fff;
 }

 &:hover{

	span{
	 color: $main-color;
	}
 }

 span{
	color: #fff;
 }
}

.butn-bord-trans{
 background: none;
 border-color: #fff;

 &:before, &:after{
	background: #fff;
 }

 &:hover{

	span{
	 color: $main-color;
	}
 }

 span{
	color: #fff;
 }
}

/* ----------------------------------------------------------------
		 [ End Buttons ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
		 [ 03 Start Navbar ]
-----------------------------------------------------------------*/

.navbar{
 background: transparent;
 left: 0;
 min-height: 70px;
 position: absolute;
 top: 0;
 width: 100%;
 z-index: 9;
 border-bottom: 1px solid #fff3;
 padding: 0;

 .header-icon{
	display: block;
	float: right;
	list-style: none;
	margin-left: 40px;
	padding: 0;
	text-align: right;

	li{
		display: inline-block;
		vertical-align: middle;

		a{
			color: #fff;
			display: block;
			opacity: 0.6;
			padding: 22px 0 0;
			text-align: center;
			width: 30px;

			&:hover{
				opacity: 1;
			}
		}
	}
 }

 .icon-bar{
	color: #fff;
 }

 .navbar-nav{
	
	.nav-link{
		color: #fff;
		display: block;
		font-size: 14px;
		padding: 25px 20px;
		transition: .20s linear;
		position: relative;

		&:after{
			background: #fff !important;
			border-radius: 0;
			bottom: 20px;
			left: 20px;
			content: "";
			height: 1px;
			position: absolute;
			transform: scaleX(0);
			transition: .20s linear;
			visibility: hidden;
			width: 50%;
		}

	 &:hover{
		opacity: 0.8;
	 }

	 &:hover:after{
		visibility: visible;
		transform: scale(1);
	 }
	}

	.active{
	 opacity: 0.8;

	 &:after{
		 visibility: visible;
		 transform: scale(1);
	 }
	}
 }
}

.nav-scroll{
 background: linear-gradient(-45deg, teal, #8089ff);
 box-shadow: 0px 5px 30px rgba(0,0,0,.05);
 left: 0;
 padding: 0;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 20;
 border-bottom-color: teal;

 .navbar-nav{

	.nav-link{
	 color: #fff;
	}

	.logo{
		max-width: 100px;
	}
 }
}

.logo{
 max-width: 100px;
}


/* ----------------------------------------------------------------
		 [ End Navbar ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
		 [ 04 Start Header ]
-----------------------------------------------------------------*/

.header{
	height: 100vh;
 overflow: hidden;

 .caption{

	.o-hidden{
	 display: inline-block;
	}
	.mw-800{
		max-width: 800px;
	}

	h2{
		font-size: 30px;
		font-weight: 300;
	}

	h4{
		font-size: 35px;
	 animation-delay: .2s;
	 font-weight: 300;
	 letter-spacing: 4px;
	}

	h3{
	 animation-delay: .6s;
	 font-family: $main-font;
	 font-size: 80px;
	 text-transform: capitalize;
	 font-weight: 500;
	 letter-spacing: 2px;
	 margin: 10px 0;
	 word-spacing: 2px;
	}

	.butn{
	 animation-delay: 1.2s;
	}
 }
}

.agency{
	h4{
		font-family: $main-font;
		text-transform: uppercase;
		font-weight: 500 !important;
		color: #fff;
		font-size: 20px !important;
		margin: 0;
		letter-spacing: 8px !important;
	}
	h1{
		font-size: 80px;
		font-weight: 800;
		text-transform: capitalize;
		margin: 0 0 20px;
		letter-spacing: -0.05em;
		line-height: 1.3;
		word-wrap: break-word;
	}
	.slider-line{
		content: "";
		height: 28px;
		width: 500px;
		background: #eb2f5b;
		margin-bottom: 0;
		margin-top: 0;
		display: inline-block;
		z-index: -1;
		position: relative;
		top:-50px;
	}
		.o-hidden{
		max-width: 800px;
		width: 100%;
	}
}
.slider-style-1{
		.caption h3{
			color: #fff;
			font-size: 40px;
			letter-spacing: 0;
			margin: 0 0 20px;
			line-height: 55px;
			font-weight: 600;
			text-align: left;
		}

		.slider-text{
			color: #fff;
			font-size: 16px;
			line-height: 28px;
			line-height: 28px;
			font-family: $main-font;
		}

		.butn{
			background-color: #fff ;
			border: 1px solid #fff;
			border-radius: 50px;
			margin-top: 30px !important;
			margin-left: 0;
			width: 150px;
			padding: 7px;
			text-align: center;

			span{
				color: $main-color;
			}

			&:hover{
				background-color: transparent;
			}

			&:hover span{
				color: #fff;
			}

			&:after{
				transition: all 0.2s ease-in;
				border-radius: 30px;
			}
			
			&:hover:after{
				background: #ffffff05;
			}

			&:before{
				display: none;
			}
			
		}

		.butn-tra{
			background-color: transparent;
			transition: all 0.5s ease;

			&:hover{
				background-color: #fff;
			}

			span{
				color: #fff;
			}

			&:hover span{
				color: $main-color;
			}

			&:after{
				transition: all 0.2s ease-in;
				border-radius: 30px;
			}
			
			&:hover:after{
				background: #ffffff05;
			}

			&:before{
				display: none;
			}
		}
}


 // animate headline

.cd-headline {
	font-size: 3rem;
	line-height: 1.2;
}

@media only screen and (min-width: 768px) {
	.cd-headline {
		font-size: 4.4rem;
		font-weight: 300;
	}
}

@media only screen and (min-width: 1170px) {
	.cd-headline {
		font-size: 4rem;
	}
}

.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;
}

.cd-words-wrapper b {
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0;
	font-weight: 600 !important;
}

.cd-words-wrapper b.is-visible {
	position: relative;
}

.no-js .cd-words-wrapper b {
	opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
	opacity: 1;
}


/* xclip */

.cd-headline.clip span {
	display: inline-block;
	padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
	overflow: hidden;
	vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
	/* line */
	content: '';
	position: absolute;
	top: 10%;
	right: 0;
	width: 2px;
	height: 70%;
	background-color: #aebcb9;
}

.cd-headline.clip b {
	opacity: 0;
}

.cd-headline b.is-visible {
	opacity: 1;
}


.slider,.slider-fade{

 .owl-item{
	height: 100vh;
	position: relative;
 }

 .item{
	 background-size: cover;
	 height: 100%;
	 left: 0;
	 position: absolute;
	 top: 0;
	 width: 100%;

		 .caption{
			z-index: 9;
		 }
 }

 .owl-theme .owl-dots{
	bottom: 5vh;
	position: absolute;
	width: 100%;
 }
}

.page-header{
 height: 70vh;

 h6{
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 10px;

	a{

	 &:hover{
		color: $main-color;
	 }
	}

	i{
	 font-size: 10px;
	 margin: 0 15px;
	}
 }

 h1{
	font-weight: 600;
	margin-bottom: 10px;
 }
  p{
	color:#eee;
 }
}



/* ----------------------------------------------------------------
		 [ End Header ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
		 [ 05 Start About ]
-----------------------------------------------------------------*/
.about{

	.img{
		position: relative;
		width: 100%;

		img{
			position: relative;
			left: -15%;
			top: 0;
			width: 100%;
		}
	}

	.info{

		h5{
			color: $main-color;
			margin-top: 0px;
			font-size: 13px !important;
			line-height: 1.2;
			margin-bottom: 15px;
			letter-spacing: 0.02em;
			text-transform: uppercase;
		}

		h2{
			font-size: 30px;
			font-weight: 600;
			color: #000;
			margin-bottom: 20px;
		}

		p{
			margin: 0 0 30px;
			word-spacing: 1px;
		}

		.info-list{

			i{
				color: $main-color;
				margin-right: 5px;
				font-size: 12px;
			}

			p{
				display: inline-block;
				margin-bottom: 10px;
			}
		}

		.butn{
			color: #fff !important;
			border: 1px solid transparent;
			border-radius: 50px;
			background: $main-color;
			cursor: pointer;
			padding: 8px 20px;
			margin-left: 0;
			margin-top: 15px;
			font-size: 15px;
			transition: all 0.5s ease;

			&:hover{
				background: #fff;
				border: 1px solid $main-color;
			}

			span{
				color: #fff;
			}

			&:hover span{
				color: $main-color;
			}

			&:after{
				transition: all 0.2s ease-in;
				border-radius: 30px;
			}
			
			&:hover:after{
				background: #fff1;
			}

			&:before{
				background-color: #fff1;
				transition: all 0.2s ease-in-out;
			}
		}
	}

	    .skills{
    margin-top: 60px;

    .item{
      margin-bottom: 30px;
    }

    h6{
      font-size: 14.5px;
      font-weight: 500;
      position: relative;
      top:-6px;
      z-index: 2;
      letter-spacing: 1px;
      color: #333
    }
    .skills-progress{
      width: 100%;
      padding: 2px 10px;
      background: #ccc;
      box-shadow: 0px 2px 7px rgba(0,0,0,0.15) inset;
      position: relative;

      span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 10%;
        background-color: $main-color;
        transition: all 1s;

        &:after{
          content: attr(data-value);
          position: absolute;
          top: -20px;
          right: 10px;
          font-size: 11px;
          font-weight: 400;
          color: #333;
          font-size: 13px;
          letter-spacing: 1px;
        }
      }
    }
}

}
/* ----------------------------------------------------------------
		 [ End About ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
		 [ 06 Start Services ]
-----------------------------------------------------------------*/
.services{

	.col-md-4{
		padding: 10px;
	}

	.items{
		background-color: #fff;
		padding: 40px 30px;
		transition: all 0.3s ease-in-out;

		&:hover{
			box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.2);

			i{
				background: linear-gradient(-45deg, teal, #8089ff);
				color: #fff;
			}
		}

		i{
			border-radius: 100px;
			color: $main-color;
			display: block;
			font-size: 40px;
			height: 80px;
			line-height: 80px;
			margin: auto;
			text-align: center;
			transition: all 0.3s ease-in-out;
			width: 80px;
			margin-bottom: 15px;
		}

		h5{
			color: #000;
			font-size: 22px;
		}

		a{
			border-bottom: 2px solid #dfdfdf;
			letter-spacing: 2px;
			font-size: 14px;
		}
	}
}
/* ----------------------------------------------------------------
		 [ End Services ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
		 [ 07 Start Works ]
-----------------------------------------------------------------*/

.works{

	.filtering{
 
	 .filter{
		display: inline-block;
		padding: 2px 10px;
 
		list-style: outside none none;
 
		 text-align: center;
		 overflow: hidden;
		 line-height: 1;
		 border: 1px dotted #ebeaef;
		 border-radius: 50px;
	 }
 
	 span{
		text-transform: uppercase;
		cursor: pointer;
		font-size: 14px;
		font-weight: 600;
		margin: 0 5px;
	 padding: 10px 20px;
	 border-radius: 50px;
		transition: all 0.3s ease 0s;
		color: $main-color;

			 &:hover{
				 background: $main-color;
				 color: #fff;
			 }
	 }
 
	 .active{
		background: $main-color;
		box-shadow: 0px 8px 30px -5px rgba(0,0,0,.2);
		color: #fff;
	 }
	}
 
	.gallery{
	 padding-left: 0;
	 padding-right: 0;
	 margin-bottom: -.05em;
	}
 
	.larg-padding{
	 padding: 0 15px;
 
	 .item-img{
		border: 10px solid #fff;
		margin-top: 30px;
	 }
	}
 
	.no-padding{
	 padding: 0;
 
	 .item-img{
		margin-top: 0;
	 }
	}
 
	.gutter{
	 padding: 0 10px;
 
	 .item-img{
		 margin-top: 20px;
	 }
	}
 
	.item-img{
	 margin-top: 30px;
	 position: relative;
	 transition: all 0.5s ease-in-out;
 
	 &:hover{
		 transform: scale(1.05);
 
		.item-img-overlay{
		 opacity: 0.9;
		}
	 }
	}
 
	.items{
		.item-img-overlay{
			background: linear-gradient(-45deg, teal, #8089ff);
			bottom: 0;
			left: 0;
			opacity: 0;
			padding: 30px;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			transition: all 0.5s ease-in-out;
		
			.icon{
			 bottom: 30px;
			 color: $main-color;
			 background: #fff;
			 font-size: 17px;
			 height: 40px;
			 line-height: 40px;
			 position: absolute;
			 right: 30px;
			 text-align: center;
			 width: 40px;
			 border: 1px solid #fff;
			 border-radius: 50px;
			 line-height: 40px;
			 transition: all 0.5s ease-in-out;
	 
				&:hover{
				 color: #fff;
				 background: transparent;
				 border-color:#fff;
		
				}
			}
		
			.cont{

				h3{
					color: #fff;
					 margin: 0;
					 font-size: 18px;
					 display: inline-block;
					 padding-bottom: 5px;
					 transform: translateY(-25px) scale(1.1);
					 opacity: 0;
					 transition: transform 0.3s ease-in;
					 transition-delay: .3s;
				 }
				 
				 p{
					 color: #fff;
					 transform: translatey(25px) scale(1.1);
					 transition: transform 0.3s ease-in;
					 transition-delay: .3s;
					 opacity: 0;
				 }
			}
		 }

		 &:hover .item-img-overlay .cont h3{
			transform: translateY(0) scale(1);
			opacity: 1;
		 }

		 &:hover .item-img-overlay .cont p{
			transform: translateY(0) scale(1);
			opacity: 1;
		 }
	}
 } 
 /* ----------------------------------------------------------------
		 [ 07 end Works ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
		 [ 11 Start Team ]
-----------------------------------------------------------------*/

.team{

	background-color: #F5F2FC;

 .item{
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	text-align: center;
	transition: all 0.3s ease-in-out;

	 &::before{
		position: absolute;
		content: "";
		width: 100%;
		height: calc(100% - 77px);
		left: 0;
		top: 0;
		background: #fff;
		opacity: 0;
		z-index: 2;
		transition: all 0.3s ease-in;
	}

	&:hover{

		.social{
			opacity: 1!important;
	 }

	 &::before{
		 opacity: 0.5 !important;
	 }

	.info{
		.social{
			.icon{
				margin: 3px;
			}
		} 
	}  
 }

	.team-img{
	 overflow: hidden;   
	 position: relative;

	}

	.info{
		bottom: 10px;
		left: 0;
		padding: 0 15px;
		transition: all .4s;
		width: 100%;
		z-index: 4;
		background: #f9f9f9;
		padding: 20px 10px;
		text-align: center;

	 h6{
		font-size: 16px;
		letter-spacing: 1px;
		margin-bottom: 5px;
		color: #000;
	 }

	 span{
		font-size: 13px;
	 }
		.social{
			position: absolute;
			bottom: 100px;
			left: 0;
			width: 100%;
			opacity: 0;
			transition: all 0.3s ease-in-out;
			padding: 10px;
			z-index: 5;

		 .icon{
			color: #eee;
			cursor: pointer;
			display: inline-block;
			font-size: 13px;
			margin: 7px;
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			border-radius: 50%;
			transition: all 0.3s ease-in-out;

			&:first-of-type{
				background-color: #3b5999;
			}

			&:nth-of-type(2){
				background-color: #55acee;
			}

			&:nth-of-type(3){
				background-color: #e4405f;
			}

			&:nth-of-type(4){
				background-color: #dd4b39;
			}
		 }
	 }
	}
 }
}

/* ----------------------------------------------------------------
		 [ End Team ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
		 [ start video ]
-----------------------------------------------------------------*/
.video{
	background-image: url(../img/video.jpg);
	background-position: 50% 50%;
	background-size: cover;
	position: relative;
	color: #fff;

	.overlay{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: $main-color;
		opacity: 0.95;
		z-index: 0;
	}

	svg{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		fill: #fff5;
		transform: rotatex(180deg);
	}

	.info{
		position: relative;
		z-index: 1;

		h5{
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 13px;
		}

		h3{
			font-size: 40px;
			font-weight: 600;
			width: 60%;
			margin: 15px auto;
		}

		a{
			transition: all 0.4s ease;

			&:hover{
				transform: scale(1.1);
			}

			i{
				background-color: #337ab7;
				border-radius: 50%;
				width: 69px;
				height: 69px;
				font-size: 70px;
				margin-top: 5px;
			}
		}
	}
}



/* ----------------------------------------------------------------
		 [ end video ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
		 [ 09 Start Testimonials ]
-----------------------------------------------------------------*/

.testimonials-grid{

 .item{
	padding: 50px 25px;
	position: relative;
	z-index: 3;
	background: #fff;

	&:after{
	 content: '';
	 height: 100%;
	 left: 0;
	 position: absolute;
	 top: 0;
	 width: 100%;
	 z-index: -1;
	}

	.img{
		width: 90px;
		height: 90px;
		border-radius: 50%;
		overflow: hidden;
		text-align: center;
		margin: 0 auto 10px auto;
	}

	p{
	 position: relative;
	 font-size: 17px;
	 letter-spacing: 0;
	 background: #fff;
	 color: #505050;

	}
	
	.stars{
		i{
			color: $main-color;
		}
	}

	.info{
		display: inline-block;
		text-align: center;

	 h6{
		font-size: 21px;
		padding-top: 10px;
		color: #000;

		span{
			font-size: 11px;
			font-style: normal;
			text-transform: uppercase;
			color: #4f4f4f;
			margin-bottom: 15px;
			font-weight: 600;
			display: block;
			margin-top: 5px;
		}
	 }

	}
 }
}

/* ----------------------------------------------------------------
		 [ End Testimonials ]
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
		 [ 10 Start Blog ]
-----------------------------------------------------------------*/

.blog{

 .item{
	background: #fff;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.07);
	padding-bottom: 20px;

	.post-img{
	 position: relative;

	 .img{
		overflow: hidden;
		position: relative;

		&:hover{

			&:after{
				opacity: 0.7;
			}
		}

		&:after{
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: $main-color;
			transition: all .5s;
			opacity: 0;
		}
	 }

	 &:hover{

		img{
		 transform: scale(1.1,1.1);
		}
	 }

	 img{
		transition: all .5s;
	 }

	 .tag{
		top: 5px;
		left: 5px;
		color: #999999;
		font-size: 12px;
		position: absolute;
		letter-spacing: 1px;
		background: #fff;
		padding: 5px 8px;
		
		a{
			font-size: 13px;
			line-height: 1;
			transition: all 0.4s;
			

			&:hover{
				color: $main-color;
			}
		}

		.icon{
		 font-size: 12px;
		}
	 }
	}

	.cont{
	 padding: 30px 15px 20px;
	 text-align: center;

	 .admin{
		 margin: 10px 0;

		 span{
			 margin: 5px;
			 font-size: 14px;

			 i{
				 margin: 3px;
				 color: $main-color;
			 }
		 }
	 }
	 p{
		color: #939393;
		margin-bottom: 15px;
	 }
	 a.rmore{
		font-size: 13px;
		color: $main-color;
		border: 1px dashed $main-color;
		border-radius: 50px;
		width: 45px;
		height: 45px;
		line-height: 45px;
		margin-top: 15px;
	 }
	}

	h3{
	 font-size: 24px;
	 margin-bottom: 15px;
	 color: #000;
	 transition: all 0.4s ease;

	 &:hover{
		 color: $main-color;
	 }
	}
 }


   .info{
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #eee;
	    a{
	        color: #999;
	        font-weight: 600;
	        font-size: 11px;
	        float: left;

	        .author{
	         width: 20px;
	         height: 20px;
	         border-radius: 50%;
	         overflow: hidden;
	         margin: 0 5px -6px 0;
	         position: relative;
	        }
	        .icon{
	         font-size: 12px;
	         margin-right: 2px;
	        }  
	    }
		.right{
			float: right;
		}
    }

	h3{
		font-size: 24px;
		margin-bottom: 15px;
		font-weight: 500;
	}

}


.posts{

  .item{
    margin-bottom: 30px;

    .spical{
      margin: 15px;
      padding: 15px;
      border-left: 4px solid $main-color;
    }
  }

  .title{
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
  }

  .comments,.add-comment{
    padding: 30px 15px;
    box-shadow: 0px 20px 30px rgba(0,0,0,.05);
    background: #fff;
    border-radius: 5px;

    .com{
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0;
      }

      &:nth-child(odd){
        margin-left: 50px;
      }
    }

    .img{
      width: 60px;
      height: 60px;
      float: left;
      border-radius: 50%;
      border: 1px solid #eee;
      overflow: hidden;
    }

    .cont{
      margin-left: 75px;

      h6{
        font-size: 12px;
        margin-bottom: 5px;
      }

      span{
        color: #999;
        font-size: 11px;
        font-style: italic;
        margin-bottom: 10px;
      }

      .reply{
        float: right;
        margin-right: 15px;
        margin-top: -15px;
        font-size: 14px;

        &:hover{
          color: $main-color;
        }
      }
    }
  }

  form{

    input,textarea{
      width: 100%;
      padding: 15px;
      background-color: #fafafa;
      border: 0;
    }

    textarea{
      height: 140px;
      max-height: 140px;
      max-width: 100%;
      margin-bottom: 10px;
    }

    .butn{
      margin: 30px 0 0 0;
      cursor: pointer;
    }
  }
}


.pagination{
  text-align: center;

  ul{
    margin: auto;
  }

  li{
    float: left;
    margin: 0 5px;

    a{
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  .active{
    
    a{
      background-color: $main-color;
      color: #fff;
    }
  }
}

.side-bar{

  .widget{
    padding: 30px 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 20px 30px rgba(0,0,0,.05);
    margin-bottom: 30px;
    overflow: hidden;

    ul{
      margin-bottom: 0;

      li{
        margin-bottom: 10px;
        color: #444;
        font-size: 13px;

        &:last-child{
          margin-bottom: 0;
        }

        i{
          font-size: 10px;
          margin-right: 10px;
        }
      }
    }

    .recent{

      li{
        display: block;
        overflow: hidden;
      }

      .thum{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
      }

      a{
        display: block;
        margin-left: 60px;
        line-height: 1.7;
      }
    }
  }

  .widget-title{
    margin-bottom: 30px;

    h6{
      font-size: 12px;
      text-transform: uppercase;
      background-color: #fff;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
  }

  .search{

    form{
      position: relative;

      input{
        width: 100%;
        padding: 10px;
        border: 0;
        border-bottom: 1px solid #eee;
      }

      button{
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        color: #999;
        border: 0;
        padding: 10px;
        cursor: pointer;
      }
    }
  }

  .gallery{

    li{
      width: 33.33333%;
      float: left;
      border: 5px solid #fff;
    }
  }

  .tags{

    li{
      font-size: 12px;
      margin: 2px !important;
      padding: 5px 10px;
      background-color: $main-color;
      color: #fff !important;
      border-radius: 4px;
      float: left;

      &:hover{
        background-color: #222;
      }
    }
  }
}



/* ----------------------------------------------------------------
		 [ End Blog ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
		 [ start sponsors ]
-----------------------------------------------------------------*/
.sponsors{
	background-image: url(../img/video.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	padding: 15px 0;

	.container{
		position: relative;
		z-index: 2;
	}

	&:after{
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: $main-color;
		opacity: 0.5;
	}
}

/* ----------------------------------------------------------------
		 [ end sponsors ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
		 [ 11 Start Contact ]
-----------------------------------------------------------------*/

.page-contact{
 position: relative;

 .item{
	 margin-bottom: 40px;

	 .icon{
		 color: $main-color;
		 font-size: 32px;
	 }

	 .content{
		h3{
			display: inline-block;
			font-size: 20px;
			color: #000;
			margin-bottom: 10px;
			font-weight: 600;
		}
 
		p{
			display: inline-block;
			letter-spacing: 1px;
			margin-bottom: 0;
		}
	 }
 }
}

.form{

 input,textarea{
	 border: none;
	border-bottom: 1px solid #e0e0e0;
	color: #eee;
	padding: 15px;
	padding-left: 35px;
	width: 100%;

	&:focus{
	 border-color: #ddd;
	}
 }
 i{
	 position: absolute;
		top: 18px;
		left: 10px;
		color:$main-color;
 }

 textarea{
	height: 160px;
	max-height: 160px;
	max-width: 100%;
 }

 .form-group{
	position: relative;
 }

 .help-block{

	li{
	 color: #ce7373;
	 font-size: 11px;
	 font-weight: 500;
	 position: absolute;
	 right: 15px;
	 top: 15px;
	}
 }

 .butn{
	background: linear-gradient(-45deg, teal, #8089ff);
	color: #fff;
	width: auto;
	border: 1px solid #8089ff;
	display: inline-block;
	font-size: 14px;
	padding: 7px 20px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	-webkit-transition-duration: 1.0s;
	transition-duration: 1.0s;
	border-radius: 50px;
	margin-top: 15px;
	margin-left: 0;
 }
}

.page-social{
 text-align: center;

 a{
	border-radius: 30px;
	border-style: solid;
	border-width: 1px;
	color: #fff;
	margin: 5px;
	padding: 12px 60px;
	transition: all .2s;

	&:hover{
	 background-color: transparent;
	 color: #555;
	}
 }
}

.page-map{
 background-color: #f7f7f7;

 #ieatmaps{
	height: 400px;
 }
}

/* ----------------------------------------------------------------
		 [ End Contact ]
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
		 [ 16 Start Footer ]
-----------------------------------------------------------------*/

.footer{
 background-color: #F8F9FA;
 padding: 50px 0 0;
 position: relative;
 overflow: hidden;

 svg{
		position: absolute;
		left: 0;
		top: -40px;
		width: 100%;
		height: 200px;

		path{
			fill: #fff;
		}
 }

	h3{
	 font-size: 17px;
	 font-weight: 600;
	 margin-bottom: 30px;
	 padding-bottom: 10px;
	 text-transform: uppercase;
	 position: relative;
	 color: #000;
	 &:after{
		width: 40px;
		height: 2px;
		content: "";
		position: absolute !important;
		bottom: -1px;
		left: 0;
		z-index: 0;
		margin: auto;
		background: $main-color;
	 };
	}

 .info{
	p{
	 margin-bottom: 30px;
	 color: #222;
	 opacity: 0.8;
	}

	span{
	 font-size: 11px;
	 margin-right: 10px;
	}

	.icon{
	 font-size: 14px;
		border: 1px solid #fff;
		border-radius: 50px;
		line-height: 40px;
		height: 40px;
		width: 40px;
		text-align: center;
		color: #fff;
		margin-right: 3px;

		&:hover{
			opacity: 0.9;
		}

		&:first-of-type{
			background: #3b5998;
		}

		&:nth-of-type(2){
			background: #1da1f2;
		}

		&:nth-of-type(3){
			background: #dd4b39;
		}

		&:nth-of-type(4){
			background: #0077b5;
		}
	}
 }

.footer-widget-list {
	margin: 0;
	li {
		list-style-type: none;
		color: #000;
		opacity: 0.8;
		padding: 7px 0;
		font-size: 17px;
		&:first-child {
			padding-top: 0;
		}
		a {
			&:before {
				content: '\f105';
				font-weight: 700;
				vertical-align: bottom;
				font-family: Font Awesome\ 5 Free;
				color: #000;
				opacity: 0.8;
				padding-right: 8px;
				-webkit-transition-duration: .3s;
				transition-duration: .3s;
				font-size: 19px;
			}
			font-size: 17px;
			font-weight: 400;
			opacity: 0.8;
			font-weight: 600;
			&:hover {
				opacity: 1;
				&:before {
					opacity: 1;
				}
			}
		}
	}
}

 .las-post{
	ul{
		li{
			opacity: 0.8;
			margin-bottom: 20px;
			&:hover{
				opacity: 1;
			}
			a{
				font-weight: 500;
				color: #222;
			}
			span{
				font-weight: 100px;
				color: #222;
			}


		}
	}
 }

 .contact-info{
	li{
		color: #222;
		opacity: 0.8;
		margin-bottom: 15px;
		&:hover{
			opacity: 1;
		}
	}

	.form-gr{
		position: relative;
		form{
			input{
				background: transparent;
				border: 1px solid #999;
				padding: 10px 15px;
				border-radius: 50px;
				width: 100%;
			}
			a{
				position: absolute;
				right: 15px;
				top: 10px;
				color: #000;
				font-weight: 600;
				opacity: 0.8;
			}
		}
	}
 }

 .sub-footer{
	background-color: #F8F9FA;
	padding: 20px 0 10px;
	border-top: 1px solid #fff;
	color: #222;
	opacity: 0.8;

	.foot-links{
		text-align: right;

		li{
			display: inline-block;
			margin-left: 20px;
		}
	}
 }
}

/* ----------------------------------------------------------------
		 [ End Footer ]
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	 [ 13 Responsive ]
-----------------------------------------------------------------*/

@media screen and (max-width: $desk-md-screen){

 .mb-md80{
	margin-bottom: 80px;
 }
	.mb-md50{
	margin-bottom: 50px;
 }

 .mb-md30{
	margin-bottom: 30px;
 }

 .mb-md15{
	margin-bottom: 15px;
 }

 .mb-md0{
	margin-bottom: 0;
 }

 .md-text-center{
	text-align: center !important;
 }

 .bgimg-height{
	height: 400px;
 }

 .bg-fixed{
	background-attachment: scroll !important;
 }

 .navbar{
	background: $main-color;

	.logo{
		margin: 18px;
	}

	button{
		margin-right: 15px;
		outline: none !important;
	}

	.container{
		max-width: 100%;
	}

	.navbar-collapse{
	 background: #111;
	 max-height: 340px;
	 overflow: auto;
	 padding: 10px 30px;
	 text-align: left;
	}

	.navbar-nav {
		.nav-link{
		padding: 10px;

		&:after{
			display: none;
		}
	}
}
	

	}

	.nav-scroll{

	 .navbar-collapse{

	 .nav-link{
		color: #fff !important;
	 }

	 .active{
		color: $main-color !important;
	 }
	}
 }

 .header{
	background-attachment: scroll !important;
	background-position: 50% 0% !important;

	.caption{

	 h4{
		font-size: 30px;
	 }

	 h1{
		font-size: 45px;
		line-height: 1.4;
	 }
	}
 }

.about{
	.info{
		padding: 50px 0;

		.info-list{
			p{
				width: 90%;
			}
		}
	}
	.img{
		img{
			left: 0;
		}
	}
}

 .navbar .header-icon{
	 display: none;
 }

 .footer{
	.sub-footer{
		text-align: center;
		.foot-links{
			text-align: center;
		}
	}
}

}

@media screen and (max-width: $tablet-sm-screen){

.mb-sm50{ margin-bottom: 50px;}

.mb-sm30{margin-bottom: 30px;}

.pl-sm10{padding-left: 10px !important;}

.pr-sm10{padding-right: 10px !important;}
.xs-height-350px {height: 350px !important;}

 .header{
 	text-align: center;
		.caption{

		 h3{
			font-size: 25px;
			padding: 2px 10px;
			 letter-spacing: 1px;
			 line-height: 1.7;
			 text-align: center;
		 }

		 p{
			font-size: 14px;
			padding-left: 10px;
			padding-right: 10px;
			width: auto;
		 }

		 .butn{
				margin-top: 15px !important;
			}
		}
	}
.hero-bg{
	display: none;
}
 .section-head {
	 h4{
		font-size: 28px;
	 }
	 p{
		width: 100%
	 }
	}
	.section-head h4:after{
		width: 250px;

	}
 .portfolio .filtering span{
	 margin-bottom: 10px;
	 padding: 10px 15px;
	}
	.works .item-img-overlay h3{
		font-size: 16px;
	}
	.services .items {
		padding: 30px 20px;
		.icon{
			margin-bottom: 20px;
		}
		h5{
			font-size: 20px;
			margin-bottom: 15px;
		}
	}

	.blog .item h3 {
		font-size: 20px;
		margin-bottom: 10px;
	}
		.butn{
			padding: 8px 18px;
			font-size: 13px;
		}

		.video{
			.info{
				h3{
					width: auto;
					margin: 30px auto;
					font-size: 30px;
				}
			}
		}

		.about{
			.info{
				.info-list{
					li{
						position: relative;
						padding-left: 25px;

						i{
							position: absolute;
							left: 0;
							top: 5px;
						}
					}
				}
			}
		}
}

@media screen and (max-width: $mobile-xs-screen){

 .works .filtering{
	padding: 0;
 }

 .works .filtering .filter{
	border: 0;
	padding: 0;
	border-radius: 0;
 }

 .works .filtering span{
	margin: 0 0 5px;
	padding: 8px 10px;
 }

 .team{
	 .col-md-3{
		 padding: 15px 30px;
	 }
 }
}

/* ----------------------------------------------------------------
		 [ The End ]
-----------------------------------------------------------------*/